<h1>Request workshop information</h1>
<form>
	<input type="hidden" name="referrer">
	Name: <input type="text" id="fieldName" name="name"><br>
	email: <input type="email" name="email"><br>
	<input type="submit" value="Submit">
</form>
<script>
	$(document).ready(function() {
		$('input[name="referrer"]').val(document.referrer);
	});
</script>